# Theme folders the build copies theme.css and manifest.json into, separated by ";".
# The folder name must be the manifest name: .../.obsidian/themes/Tela
TELA_THEME_DIRS=/mnt/c/Users/you/Vaults/Tela Test Vault/.obsidian/themes/Tela
